h5,p{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    padding: 10%;
}
.footer{
	font-weight: bold;
	display: block;
	text-align: center;
	background: #000000;
	color:#d9d9d9;
	padding: 3%;	
}