<!--
<div class="card text-center">
    <div class="card-body bg-dark">
      <h5 class="card-title">Contact us for any queries</h5>
      <p></p>
      <p class="card-text">
        <a href="https://www.instagram.com/trbx_official/" target="_blank"><img src="../../assets/Images/instalogo.png" width="30" height="30" alt="Instagram"> trbx_official</a>
        <a href="https://www.youtube.com/@trbx" target="_blank"><img src="../../assets/Images/youtubelogo.png" width="40" height="40" alt="Youtube"> @trbx</a>
        <a href="https://www.linkedin.com/company/trbx" target="_blank"><img src="../../assets/Images/linkedinlogo.png" width="30" height="30" alt="LinkedIn"> Trbx</a>
      </p>
    </div>
  </div>

-->
<div class="footer">
  <footer>
    <div id="footer">
      <h6 style="text-align: center;">Made With Love In India.</h6> <br><br>
      <a href="https://www.instagram.com/trbx_official/" target="_blank"><img src="../../assets/logo/instalogo.png" width="30" height="30" alt="Instagram"> trbx_official</a>
      <a href="https://www.youtube.com/@trbx" target="_blank"><img src="../../assets/logo/youtubelogo.png" width="40" height="40" alt="Youtube"> @trbx</a>
      <a href="https://www.linkedin.com/company/trbx" target="_blank"><img src="../../assets/logo/linkedinlogo.png" width="30" height="30" alt="LinkedIn"> Trbx</a> <br><br><br><br>
      Copyright &copy 2020. All Rights Reserved.
    </div>  
  </footer>
</div>
 
