
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/products/podcast.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Podcast</h5>
        <p class="card-text">We have podcast that streamed in youtube. We Cover a wide range of subjects ranging from
          "Fiancial Freedom", "chartered accountancy", "Armed Forces" to "Health and Fitness". <br><br>

          In future we are bringing in more eminent personalities.
        </p>
        <p class="card-text"><small class="text-muted">Host : Midhun and Hari.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/products/3dprinter.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Workshop</h5>
        <p class="card-text">We also Workshops for anyone who is eager to learn new stuff. Our Catalog of workshps include 3d Printing, Robowar Manufacturing (Robots that fight with each other).</p>
        <p class="card-text"><small class="text-muted">Recently Conducted at SCT College Of Engg Trivandrum.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/Images/products/courses.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<!-- Image With Details -->
<section id="podcast">
  <div class="card mb-3">
    <img class="card-img-top" src="../../assets/Images/products/podcast_person.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Podcast</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </section>
  <div class="card mb-3">
    <img class="card-img-top" src="../../assets/Images/products/3dprinting_1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Workshop</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

