<body>
<div class="table">
    <div id="main">
		<h1>Contact Us</h1>
		<p>If you have any query, or just want to say hello, feel free to contact me.</p><br>
		<form>
			<label for='name'></label>
			<input type="text" class="label" id='name' name="name" placeholder="Name">
			<label for='email'></label>
			<input type="email"class="label" id='email' name="email" placeholder="Email"><br>

			<label for="subject"></label>
			<input type="textbox"class='label'id="subject" name="subject" placeholder="Subject"><br>

			<label for="Message"></label>
			<input type="text" class='label'id="message" name="message" placeholder="Message"><br>


			<br><input type="submit" id="submit" value="Submit" onclick="return check()">

		</form>
	</div>
</div>
</body>
