<div class="card bg-dark text-white">
    <img class="card-img" src="../../assets/logo/RW 7.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h2 class="card-title"><br>
        Hi, Greetings from TRBX</h2>
      <p class="card-text" style="text-align: right;"><br><br><h5>TRBX aka Team Roborex Started as the  robotics team of Sree Chitra Thirunal College of Engineering.</h5> <br>
        Our team started as a team time talk between students from different departments of SCTCE <br>
        The team was participating in robowar, roboscoccer, roborace, line follower and water rocket. <br>
        Then the team pivoted to podcasting, conducting workshops etc. <br>
        Team has faced a lot of hardships but never surrendered.</p>
    </div>
  </div>